{% load static %}
<section id="features" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Recursos :</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                <!--Inicio dos items da esquerda-->
                <!--Ideal: 2 em cada lado-->
                <div class="content-left">
                <!--Para dividir 3 instâncias em cada coluna,
                 utilizei o método slice:'3'-->
                    {% for recurso in recursos|slice:':3' %}
                        <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                        <span class="icon">
                            <i class="{{ recurso.icone }}"></i>
                        </span>
                            <div class="text">
                                <h4>{{ recurso.titulo }}</h4>
                                <p>{{ recurso.descricao }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!--Fim itens da esquerda-->
                </div>

            </div>
            <!--Fim coluna esquerda-->
            <!--Imagem central-->
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
                    <img src=" {% static 'img/feature/intro-mobile.png' %}" alt="">
                </div>
            </div>
            <!--Fim Imagem central-->


            <!--Coluna direita-->
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <!--Início item direito-->
                <div class="content-right">
                    {% for recurso in recursos|slice:'3:' %}



                        <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                        <span class="icon">
                          <i class="{{ recurso.icone }}"></i>
                        </span>
                            <div class="text">
                                <h4>{{ recurso.titulo }}</h4>
                                <p>{{ recurso.descricao }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div><!--Fim item direito-->

            </div>
        </div>
    </div>
</section>
